.container {
  width: 100%;
  max-width: var(--maxw);
  margin: 0 auto;
  padding: 0 var(--space-4);
}

.narrow {
  max-width: var(--maxw-narrow);
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--space-5);
  }
}
